body {
  background-color: #F7F8F8;
  margin-top: 0;
  margin-bottom: 0;
}

code {
  background-color: #FFC2C8;
  color: #000;
  font-family: Input Mono, monospace;
  padding: .25em .5em;
  font-size: .8em;
  font-weight: 400;
  border-radius: 4px;
}

p {
  font-family: HK Grotesk;
  font-size: 18px;
  line-height: 1.7;
  text-align: left;
  max-width: 35rem;
}

h1 {
  font-family: Input Mono;
  font-size: 80px;
  font-weight: 200;
  line-height: 1.15;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

h2 {
  font-family: Input Mono;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.7;
}

.arrow {
  font-family: circe;
  font-size: 110px;
  font-weight: 300;
  line-height: 1.15;
  margin-top: 0rem;
}

.waffle {
  display: flex;
  float: right;
  flex-wrap: wrap;
  width: 640px;
}

.block {
  width: 20px;
  height: 20px;
  margin: 3px;
  border-radius: 25px;
}

.note {
  font-family: Input Mono;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0.3rem;
}

.factoids {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: auto;
}

.counter {
  padding-right: 50px;
}

.counter-last {
  padding-left: 20px;
}

.count-title {
  font-family: HK Grotesk;
  font-size: 100px;
  font-weight: lighter;
  letter-spacing: -3px;
  margin-top: 10px;
  margin-bottom: -0.4rem;
  text-align: left !important;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  width: 2rem;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
  padding: 0;
}
